<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35198981376-m0ggraq26i0a481jdqacc99rrnvtlm0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35198981376-m0ggraq26i0a481jdqacc99rrnvtlm0i</string>
	<key>API_KEY</key>
	<string>AIzaSyBEmTYIv9PJNmE-io9Jh5ZwASFJlhnwB6w</string>
	<key>GCM_SENDER_ID</key>
	<string>35198981376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firenaseCrud2</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-app2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-app2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35198981376:ios:f5e88eb2c4e11daf33cfe5</string>
</dict>
</plist>